@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.slide h2 {
    margin-bottom: 32px;
    color: #212121;
    font: 29px/1 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.2;
}

.dado {
    color: #212121;
    width:350px;
    font: 14px/1 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.dado ul {
  list-style-image: url('circle.svg');
}

.dado ul li:not(:last-child) {
    margin-bottom: 15px;
}

.bluejade {
  color: #003cbf;
}

.cblack div p {
  color:black;
}

.title-maps h2 {
      line-height: 1.5;
}

.footcover {
  width:1024px; 
  margin:0 auto;
  position:absolute; 
  bottom:5px; 
  left:0;
  font: 11px/1 'Montserrat', sans-serif;
  font-weight:400;
  text-align:center;
  color:white;
  z-index:10;
}